[core]
	excludesfile = /Users/h8h/.gitignore_global
	commentChar = ";"
	editor = nvim
[user]
	name = Hoang Trinh
	email = hoang.trinhj@gmail.com
	signingkey = 
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[init]
	defaultBranch = main
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	cleanup = "!git fetch -p && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D"

